<div class="footer grid-container" style="align-items: center;">
    <div style="grid-column-start: 2; grid-column-end: 6;">
        <img src="../../../assets/images/choiz.svg" alt="choiz" class="choiz-footer">
        <p class="text-footer rights-recerved">© XCALE HEALTH srl . Todos los derechos reservados.</p>
    </div>
    <div style="grid-column-start: 10; grid-column-end: 12; ">
        <p class="text-footer">¡Hablemos!</p>
        <div class="social-networks">
        <img src="../../../assets/images/instagram.svg" alt="">
        <img src="../../../assets/images/facebook.svg" alt="">
        <img src="../../../assets/images/whatsapp.svg" alt="">
        <img src="../../../assets/images/email.svg" alt="">
    </div>
    </div>

</div>
