<ul class="grid-container nav">
    <img src="../../../assets/images/choiz.svg" alt="" >

    <div class="grid-container nav-item-container" >

    <li class=""><a href="" class="link text-nav text">Tratamientos</a></li>
    <li class=""><a href="" class="link text-nav text">Consulta Online</a></li>
    <li class=""><a href="" class="link text-nav text">Quiénes somos</a></li>
    <li class="" style="width: 180px;"><a href="#ti-question" class="link text-nav text">Preguntas frecuentes</a></li>
    <li class=""><a href="#footer" class="link text-nav text">contacto</a></li>
    <li class="btn"><a href="" class="link text-nav text">¿Tenés dudas?</a></li>
</div>
</ul>